node_modules/
.git/
dist/
*.log
.env
report/
projects/**/eval/
.DS_Store
# next.js build output
.next/
.mongo/
*.sqlite

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/
*.lock
test-results/
