// Copyright (c) 2025 Bytedance Ltd. and/or its affiliates
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//     http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import './config'

.nps
  display flex
  flex-direction row
  gap 0.4rem
  padding $gap 0

  .option
    border-base(0.4rem)
    flex 1
    center-flex()
    height 4rem
    transition all 0.2s ease
    font-weight 500

    input[type='radio']
      appearance none
      margin 0

.pre .nps
  .option
    cursor pointer

    &:hover
      background-color $color.background
      border-color $color.primary

    &.active
      background-color $color.primary
      border-color $color.primary
      color $color.white
      transform scale(1.05)