//- Copyright (c) 2025 Bytedance Ltd. and/or its affiliates
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.

extends ../layout

block content
  if hasPrivilege
    h1.admin-title User Management Portal
    table.admin-table 
      thead
        tr
          th Username
          th Role
          th Coins
      tbody
        each user in users
          tr.admin-user-row(id=`admin_user_${user.username}`)
            td= user.username
            td= user.role
            td= user.coin

    link(rel="stylesheet", href="/css/admin.css")